/* .footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: left;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-left,
  .footer-right {
    flex: 1;
    margin: 5px 10px;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-right {
    text-align: left;
  }
  
  .footer-right h4 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer p {
    margin: 8px 0;
  }
  
  .footer-link {
    color: #f8f9fa;
    text-decoration: none;
    margin-left: 5px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-icon {
    margin-right: 10px; 
  }
  
  .footer-right p {
    display: flex;
    align-items: center;
  }
  
  .footer-right span {
    font-weight: bold;
    margin-right: 5px;
  }
  



@media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      
    }
  
    .footer-left,
    .footer-right {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .footer-left p,
    .footer-right p {
      margin: 5px 0;
    }
}
    


*/




.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allows the footer items to wrap on small screens */
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left, .footer-right {
  flex: 1;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  /* margin-left: 8px; */
}

.footer-icon {
  margin-right: 8px;
}

.footer a:hover {
  text-decoration: underline;
}

/* For mobile devices, stack the content vertically */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack footer items */
    text-align: center;
  }

  .footer-left, .footer-right {
    text-align: center;
    margin-bottom: 20px; /* Add space between footer sections */
  }
}
