/* for ADDNote.js */


.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .form-label {
    flex: 0 0 100px; /* Adjust the width of the label */
    margin-right: 10px; /* Spacing between label and input */
  }
  
  .form-control {
    flex: 1; /* Input field takes up the remaining space */
  }
  


  /* For NoteItem Only  */

  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .d-flex {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space between title and buttons */
  }
  
  .d-flex .card-title {
    margin: 0; /* Ensure no additional margin */
  }
  
  .d-flex .d-flex {
    /* No additional styling needed if this is just to align buttons */
  }
  
  .card-body .card-text {
    margin-top: 10px; /* Adjust as needed */
  }

  .card {
    position: relative; /* Ensure the card is positioned relatively for the badge to be positioned absolutely */
  }
  
  .badge_01 {
    position: absolute;
    transform: translate(0, -50%); 
    z-index: 1; /* Ensure the badge is on top */
    /* color: white; */
    background-color: rgba(41, 28, 3, 0.911);
  }
  

  .badge_02 {
    position: absolute;
    margin-left: 180px;
    transform: translate(0, -50%); 
    z-index: 1; /* Ensure the badge is on top */
    /* background-color: rgba(0, 0, 0, 0.911); */
  }

  .circle_back{
    background-color: black;
    padding: 7px;
    border-radius: 100px;
  }





  /* For Login */

  .password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff; /* Adjust color as needed */
    font-size: 18px;
}






/* Loding-SPinner */

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; Full height of the viewport */
  text-align: center;
}

.spinner-icon {
  width: 30px;
  height: 30px;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3824eb; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

/* Animation for the spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}